<p>Welcome to my Lisp Interpreter running in the browser.
    Apart from showcasing my efforts, running C code in the browser was an excellent chance to experiment with Webassemly.
I documented the process here if you would like to find out more.</p>

<label for="output">Output</label>
<textarea class="form-control mb-2 bg-dark text-white" id="output" rows="8"></textarea>
<label for="input">Type your input here (Hit "Enter" to evaluate)</label>
<textarea class="form-control" id="input" rows="2"></textarea>
