<div class="row">
	<div class="col-md-9">
<h1>Hello, world!</h1>
<p>Welcome to my little corner of the web. I really only built this website to learn web development from the ground up but thought it wouldn't hurt to continue using this platform to document some of my thoughts around various topics. I recently completed my Masters in Electrical Engineering at the University of Cape Town, South Africa and am now looking towards pursuing a career in high performance computing. I love playing around with cutting edge open source software which I'll write about or showcase in the <em>Web Apps</em> tab. I also have a few FPGA projects on Github page so feel free to check those out as well. Hope you have fun poking around.
</p>
<p>
		-Joash
</p>
	</div>
	<div class="col-md-3">
		<img class="profile-pic" src="assets/img/profile3.jpg"/>
	</div>
</div>

<hr>

<div class="album py-5">

	<p *ngIf="!blogsInfo"><em>Loading...</em></p>

	<div class="container" *ngIf="blogsInfo">
			<div class="row">
				<div *ngFor="let blog of blogsInfo" class="col-md-3 d-flex align-items-stretch" >

					<div class="card shadow-sm mb-4">
						<img src="{{'data:image/jpg;base64,' + blog.thumbnail}}" class="card-img-top" height="200">
						<div class="card-body">
								<a class="card-title" [routerLink]="['/blog-view', blog.id]">{{ blog.title }}</a>
								<p class="card-subtitle text-muted" [ngClass]="{'text-white': darkMode}">{{ blog.lastModified | date:mediumDate }}</p>
						</div>
					</div>

				</div>
			</div>
	</div>

</div>
